<div class='container'>
    <div class="carousel-inner">
    <div class="item active" style="width:100%; height:500px;">
    <img src="./assets/images/tileani.gif" alt="kajaria" style="width:100%; height:500px;vertical-align: middle;border-style: none;
    position: absolute;left: 0px;top: 0px;z-index: -1;">
    <div class="carousel-caption">
    <h3>Kajaria</h3>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-6" style= "margin-top: 85px;">
    <img src="./assets/images/about.png" style="width:100%;height:220px ;">
    </div>
    <div class="col-lg-6">
    <p style="margin-right:30%;padding-top:100px;text-align:justify; padding-bottom:7px;">
    All of our tiles are crafted with intense care using state-of-the-art technology
    to ensure that we live up to the expectations of our buyers. Choicest of materials
    are used to produce our magnificent range of products. In order to cater to the specific
    needs of our customers we produce various categories of tiles, including kitchen tiles,
    bathroom tiles, wall tiles, flooring tiles and exterior wall tiles. We aim at producing
    tiles that complement the distinctive style of our customers and cater to the vast needs
    of Indian audience. Offering multiple designs in different finishes like gloss, white
    ceramic polish, wooden, digital, glazed vitrified,
    anti-rustic, matt & stain, we promise to deliver ace quality services.</p>
    </div>
    </div>
    <div class="jumbotron jumbotron-sm">
    <div class="container">
    <div class="row">
    <div class="col-sm-12 col-lg-12">
    <h1 class="h1">
    Contact us </h1>
    </div>
    </div>
    </div>
    </div>
    <div class="container">
    <div class="col-md-4">
    <form>
    <legend><span class="glyphicon glyphicon-globe"></span> Our office</legend>
    <address>      
    <strong>Corp.</strong><br>
    Bangalore<br>                    
    <br>
    <abbr title="Phone">
    P:</abbr>
    9999999999
    </address>
    <address>
    <strong>Full Name</strong><br>
    <a href="mailto:#">contact@utricks.in</a>
    </address>
    </form>
    </div>
    </div>
    
    
    
